@import './main';

.partners {

    display: flex;
    justify-content: space-between;
    width: 100%;

    @include respond(tab-port) {
        height: 15vh;
    }

    @include respond(phone) {
        height: 10vh;
     }

    &__1 {

        width: 22.5%;
        height: 25vh;

            img {
                background-size: contain;
                background-repeat: no-repeat;
                width: 100%;
            }


    }

    &__2 {
        
        width: 22.5%;
        height: 25vh;

            img {
                background-size: contain;
                background-repeat: no-repeat;
                width: 100%;
            }
    }

    &__3 {

        width: 22.5%;
        height: 25vh;

            img {
                background-size: contain;
                background-repeat: no-repeat;
                width: 100%;
            }
    }

    &__4 {

        width: 22.5%;
        height: 25vh;

            img {
                background-size: contain;
                background-repeat: no-repeat;
                width: 100%;
            }
    }
}