.homepage-posts {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.post-column {
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
  width: 400px;
}

.homepage-posts-container {
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  display: grid;
}

.post-column-text-container {
  height: 250px;
  width: 400px;
  opacity: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.post-column-text-container:hover {
  opacity: 0.8;
  background-color: #02427c;
}

.post-column-text {
  color: #fff;
  text-align: center;
}
